html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

footer.page {
    background: #f7f7f7;
    color: #777;
    font-size: 0.9em;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}


.dark {
    background: #0e3262;
    color: #fff;
}

.light {
    background: #f7f7f7;
}

header.page {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.0em;
}

header .dark {
    padding: 10px 0;
}

header .nav {
    margin: 4px 0;
}

#logo {
    background: transparent url('/static/img/remove_before_flight.png') top right no-repeat;
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: -85px;
    margin-top: 10px;
}

.countdown {
    font-family: 'Droid Sans Mono', Courier, monospace;
}

nav .nav li a:hover {
    background: #ccc;
}

.name {
    font-weight: bold;
    padding: 0 10px;
}

.desc {
    color: #999;
    font-style: italic;
}

.accordion-heading {
    padding: 8px 15px;
}
