#header .main {
    background: #0e3262;
    color: #fff;
    border-bottom: 2px solid #4d6b95;
    padding-top: 5px;
}

#header .sub {
    background: #f7f7f7;
}

#header {
    margin-bottom: 20px;
}

#header h1 {
    font-size: 2.0em;
}

#header .nav {
    margin: 4px 0;
}

.countdown {
    font-family: 'Droid Sans Mono', Courier, monospace;
}

.name {
    font-weight: bold;
    padding: 0 10px;
}

.desc {
    color: #999;
    font-style: italic;
}
