<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico?" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" />
    <title>Flight Status</title>
  </head>
  <body>

    <div id="header">
      <div class="main">
        <div class="container">
          <div id="logo">&nbsp;</div>
          <h1>PSAS Flight Status</h1>
          <p>Countdown: <span class="countdown">L&minus;105 days</span></p>
        </div>
      </div>
      <div class="sub">
        <div class="container">
          {% block nav %}{% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <script src="/static/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
