{% extends "base.html" %}

{% block content %}

<h2>Flight Report:</h2>

<div class="accordion">
{% for item in tree recursive %}
    {% if item.list %}
          <h6>{{ item.name }}s:</h6>
          {{ loop(item.list) }}
    {% elif item.children %}
        <div id="{{ item.key }}" class="accordion-group">
          <div class="accordion-heading">
            <span class="status">
            {{ item.status }}
            {% if item.status is defined %}
                {% if item.status < 1 %}
                    <span class="label">N</span>
                {% elif item.status < 90 %}
                    <span class="label label-important">{{ item.status }}%</span>
                {% elif item.status < 100 %}
                    <span class="label label-warning">{{ item.status }}%</span>
                {% elif item.status == 100 %}
                    <span class="label label-success">Go!</span>
                {% endif %}
            {% endif %}
            </span>
            <span class="name">{{ item.name }}</span><span class="desc">{{ item.desc }}</span>
            <a class="pull-right" data-toggle="collapse" data-parent="#{{ item.key }}" href="#show{{ item.key }}"><i class="icon-chevron-down"></i></a>
          </div>
          <div id="show{{ item.key }}" class="accordion-body indent">
            <div class="accordion-inner">
                {{ loop(item.children) }}
            </div>
          </div>
        </div>
    {% else %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <span class="status">
            {% if item.status is defined %}
                {% if item.status < 1 %}
                    <span class="label">N</span>
                {% elif item.status < 90 %}
                    <span class="label label-important">{{ item.status }}%</span>
                {% elif item.status == 100 %}
                    <span class="label label-success">Go!</span>
                {% endif %}
            {% endif %}
            </span>
            <span class="name">{{ item.name }}</span><span class="desc">{{ item.desc }}</span>
          </div>
        </div>
    {% endif %}
{% endfor %}
</div>

{% endblock content %}
