{% extends "base.html" %}

{% block content %}

<h2>Flight Report:</h2>

{% for item in tree recursive %}
    {% if item.list %}
      <ul>
        <li><h4>{{item.name}}s:</h4>
            <ul>
            {{ loop(item.list) }}
            </ul>
        </li>
      </ul>
    {% else %}
        {% if item.name %}
        <li><span class="name">{{ item.name }}</span><span class="desc">{{ item.desc }}</span></li>
        {% endif %}
    {% endif %}
    {% if item.children %}
        {{ loop(item.children) }}
    {% endif %}
  {% endfor %}

{% endblock content %}git 
