<div class="accordion">

    {% for m in member.members %}

    <div id="" class="accordion-group">
      <div class="accordion-heading">
        <span class="name">{{ m.name }}</span>
        <span class="desc">{{ m.desc }}</span>
        <button type="button" class="btn btn-mini btn-danger span1 pull-right">Remove</button>
        <button type="button" class="btn btn-mini span1 pull-right">Edit</button>
      </div>
    </div>

    {% endfor %}

    <div id="{{ entry.key }}{{ member.key }}add_member" class="accordion-group">
      <div class="accordion-heading">
        <span class="desc">Add {{ member.name }}...</span>
        <a class="pull-right" data-toggle="collapse" data-parent="#{{ entry.key }}{{ member.key }}add_member" href="#do{{ entry.key }}{{ member.key }}add_member"><i class="icon-plus-sign"></i></a>
      </div>
      <div id="do{{ entry.key }}{{ member.key }}add_member" class="accordion-body collapse">
        <div class="accordion-inner">

              <!-- Hidden key for POST -->
              <input id="{{ entry.key }}{{ member.key }}key" name="{{ entry.key }}{{ member.key }}key" value="" class="hide">

              <div class="control-group">
                <label class="control-label" for="inputName">{{ member.key }} name</label>
                <div class="controls">
                  <input id="add{{ entry.key }}{{ member.key }}" name="add{{ member.key }}" type="text" class="span5" autocomplete="off" data-provide="typeahead">
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button name="action" type="submit" class="btn btn-primary" value="ADD_MEMBER{{ member.key }}">Add</button>
                </div>
              </div>

              <script>
                $('#add{{ entry.key }}{{ member.key }}').typeahead({
                    source: [
                        {% for l in member.all %}"{{ l }}",{% endfor %}
                    ],
                    highlighter: function (item) { return item.split('|')[0]; },
                    updater: function (item) {
                        $('#{{ entry.key }}{{ member.key }}key').attr('value', item.split('|')[1]);
                        return item.split('|')[0];
                    },
                    items: 5
                });
              </script>

        </div>
      </div>
    </div>
</div>
