<ul class="nav nav-pills">
  {% if user %}
  <li {% if page == 'meet' %}class="active"{% endif %}><a href="/meeting">Conduct A Meeting</a></li>
  {% endif %}
  <li {% if page == 'home' %}class="active"{% endif %}><a href="/">Flight Report</a></li>
  <li {% if page == 'todo' %}class="active"{% endif %}><a href="/todo">TODO</a></li>
  <li {% if page == 'api' %}class="active"{% endif %}><a href="/api">API</a></li>
  <li {% if page == 'about' %}class="active"{% endif %}><a href="/about">About</a></li>
  {% if user %}
  <li class="login pull-right"><a href="/logout"><i class="icon-trash icon-white"></i> Logout</a></li>
  {% else %}
  <li class="login {% if page == 'login' %}active{% endif %} pull-right"><a href="/login"><i class="icon-user icon-white"></i> Login</a></li>
  {% endif %}
</ul>
