<div id="{{ part.key }}Top" class="accordion-group">
  <div class="accordion-heading">
    <span class="accordion-toggle">
      <span class="name">{{ part.name }}</span>
      <span class="desc">{{ part.desc }}</span>
      <a class="pull-right" data-toggle="collapse" data-parent="#{{ part.key }}Top" href="#{{ part.key }}"><i class="icon-edit"></i></a>
    </span>
  </div>
  <div id="{{ part.key }}"class="accordion-body collapse">
    <div class="accordion-inner">
      <form class="form-horizontal" method="post">

        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input name="name" type="text" id="inputName" value="{{ part.name }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputDesc">Description</label>
          <div class="controls">
            <textarea name="desc" class="input-xxlarge" rows="3">{{ part.desc }}</textarea>          
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button name="key" type="submit" class="btn btn-primary" value="{{ part.key }}">Update</button>
            {% if softdelete %}
            <button name="key" type="submit" class="btn btn-danger pull-right" value="REM{{ part.key }}">Remove Part</button>
            {% else %}
            <button name="key" type="submit" class="btn btn-danger pull-right" value="DELETE{{ part.key }}">Delete Part</button>
            {% endif %}

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
