<div id="{{ part.key }}Top" class="accordion-group">
  <div class="accordion-heading">
    <span class="accordion-toggle">
      <span class="badge badge-{{ part.badge }}">{{ part.status }}</span>
      <span class="name">{{ part.name }}</span>
      <span class="desc">{{ part.desc }}</span>
      <a class="pull-right" data-toggle="collapse" data-parent="#{{ part.key }}Top" href="#{{ part.key }}"><i class="icon-chevron-down"></i></a>
    </span>
  </div>
 <div id="{{ part.key }}"class="accordion-body collapse">
    <div class="accordion-inner">
      asfd
    </div>
  </div>
</div>
