<div id="systems" class="accordion-group">
  <div class="accordion-heading">
    <span class="accordion-toggle">
      <span class="badge badge-important">{{ system.status }}</span>
      <span class="name">{{ system.name }}</span>
      <span class="desc">{{ system.desc }}</span>
      <a class="pull-right" data-toggle="collapse" data-parent="#systems" href="#{{system.name}}"><i class="icon-chevron-down"></i></a>
    </span>
  </div>
  <div id="{{system.name}}"class="accordion-body collapse">
    <div class="accordion-inner">
      <h5>Parts:</h5>
      {% for part in system.parts %}
        {{ part }}
      {% endfor %}
    </div>
  </div>
</div>
