<div id="{{ system.key }}Top" class="accordion-group">
  <div class="accordion-heading">
    <span class="accordion-toggle">
      <span class="label">{{ system.parts_num }} part{% if system.parts_num != 1 %}s{% endif %}</span>
      <span class="name">{{ system.name }}</span>
      <span class="desc">{{ system.desc }}</span>
      <a class="pull-right" data-toggle="collapse" data-parent="#{{ system.key }}Top" href="#{{ system.key }}"><i class="icon-edit"></i></a>
    </span>
  </div>
  <div id="{{ system.key }}"class="accordion-body collapse">
    <div class="accordion-inner">
      <form class="form-horizontal" method="post">

        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input name="name" type="text" id="inputName" value="{{ system.name }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputDesc">Description</label>
          <div class="controls">
            <textarea name="desc" class="input-xxlarge" rows="3">{{ system.desc }}</textarea>          
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">&nbsp;</label>
          <div class="controls">
            <a href="/manage/{{ system.key }}" class="btn">Manage Parts and Software</a>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button name="key" type="submit" class="btn btn-primary" value="{{ system.key }}">Update</button>
            <button name="key" type="submit" class="btn btn-danger pull-right" value="DELETE{{ system.key }}">Delete System</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
