<div id="{{ system.key }}Top" class="accordion-group">
  <div class="accordion-heading">
    <span class="accordion-toggle">
      <span class="badge badge-important">{{ system.status }}</span>
      <span class="name">{{ system.name }}</span>
      <span class="desc">{{ system.desc }}</span>
      <a class="pull-right" data-toggle="collapse" data-parent="#{{ system.key }}Top" href="#{{ system.key }}"><i class="icon-chevron-down"></i></a>
    </span>
  </div>
  <div id="{{ system.key }}"class="accordion-body collapse">
    <div class="accordion-inner">
      <h5>Parts:</h5>
      {% for part in system.parts %}
        {% include "parts_line.html" %}
      {% endfor %}
      <h5>Software:</h5>
      {% for soft in system.software %}
        {{ soft }}
      {% endfor %}
    </div>
  </div>
</div>
